body {
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    /* height: 100vh; */
    /* 위에 거 사용하면 페이지가 정적으로 변하기 떄문에 웹 구현하는 사람으로서는 왠만하면 피해야하는 코드임 */
}
.group_reader_title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 46px;
}
.group_reader_title svg {
    position: absolute;
    top: 15px;
    left: 20px;
}
.group_reader_title p {
    font-size: 1.25em;
}
.profile{
    margin:10px;
    position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     width:100px;
     height:60px;
}
.profile img{
    width:50px;
    height:50px;
}s