#wrap{
    width:100%;
    max-width: 640px;
    margin: 0 auto;
    /* display:none; */
}
#wrap .title{
    font-size: 20px;
    border:1px solid #ddd;
    background-color: #ddd;
    font-family: "맑은 고딕";
}
.startitle{
    float:right;
    font-size:15px;
    font-family:"맑은 고딕";

}

.table_box th, .table_box td{
    padding: 10px;
    box-sizing: border-box;
    border-bottom:1px solid #ddd;
}

.table_box th{text-align: center; width:20%;}
.table_box td{width:80%;}
.table_box .textform{
    width:100%;
    height:42px;
    border:1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}
.table_box .callform{
    width:32%;
    height:42px;
    border:1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
}
.table_box .btn{
    background-color: #ddd;
    border-radius: 5px;
    color:#444;
    width:35%;
    margin-top:1%;
}
.table_box .btn:hover{
    background-color: #ddd;
}
.table_box textarea{
    width: 420px;
    height:80px;
    border:1px solid #ddd;
    border-radius: 5px;
    padding:10px;
    box-sizing: border-box;
}
.btn_area{
    text-align: center;
    width:100%;
    /* height:72px; */
    margin:2% 0;
    border:0;
    font-size: 20px;
    /* margin-top: 2%; */
}
.btn_area .btn_join{
    background-color: #444;
    color:#ddd;
    margin:0 2%;
    padding:1%;
    border-radius: 10px;;
}
.btn_area .reset{
    border-radius: 10px;
    margin:0 2%;
    padding:1%;
    border:1px solid #fff;
}
.jump{padding-top:75px;}
.table_box .change tr td{max-width: 240px;}
.submit{
    border:1px solid gray;
}