*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 /* 스탑워치 타이틀 */
.watch_title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 46px;
}
.watch_title svg {
    position: absolute;
    top: 15px;
    left: 20px;
}
.watch_title p {
    font-size: 1.25em;
}
 .box{
    margin-top:20px;
    width: 200px;
    height: 200px;
    display: inline;
}
.timerBox{
    width: 200px;
    outline: 2px solid black;
}
.timerBox .time{
    font-size: 30pt;
    color: #4C4C4C;
    text-align: center;
    font-family: sans-serif;
}
.btnBox{
    margin: 20px auto;
    text-align: center;
}
.btnBox .fa{
    margin: 0px 5px;
    font-size: 30pt;
    color: rgb(71, 71, 195);
    cursor: pointer;
}