SE_project/src/main/resources/application.properties
SE_project/src/main/resources/application.properties
SE_project/src/main/java/com/se/kmbss/domain/BoardDomain.java
SE_project/src/main/resources/application.properties
