/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전체 스타일(반응형) */
body {
    font-family: 'Nanum Gothic', sans-serif;
    background: #DDDDDD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* 타이틀 */
.group_name_change_title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 46px;
}
.group_name_change_title svg {
    position: absolute;
    top: 15px;
    left: 20px;
}
.group_name_change_title p {
    font-size: 1.25em;
}


.group_name_change_box {
    height: 65%;
}

.group_name_change_contents {
    display: flex;
    flex-direction: column;
    background: white;
    margin-bottom: 20px;
    padding: 20px;
}
.group_name_change_contents p {
    font-size: 0.875em;
    margin-bottom: 20px;
}
.group_name_change_contents p span {
    margin-left: 10px;
    color: #aaaaaa;
    font-size: 12px;
}
.group_name_change_contents input {
    border: 0;
    margin-bottom: 5px;
    height: 30px;
}


.group_name_change_button {
    width: 100%;
    display: flex;
    justify-content: center;
}
.group_name_change_button input {
    border: 0;
    border-radius: 8px;
    width: 90%;
    height: 46px;
    text-align: center;
    color: white;
    background: #E74C3C;
}

/* 푸터 박스 */
/* .footer_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    background: white;
    height: 66px;
    border-radius: 8px 8px 0 0;
}
.footer_box div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_box p {
    margin-top: 8px;
    font-size: 0.75em;
} */