.contents{
    max-width:640px;
    width:100%;
    margin:0 auto;
}

.write_board{
    width:100%;
}
.rmfTMrl{
    width:29.5%;
    /* float:left; */
    margin:0;
    padding:1%;
}
.input_title{
    width:70%;
    border:1px solid #ced4da;
    border-color:#555;
    border-radius: 5px;
    /* float:right; */
    margin:0;
    padding:1%;
}
.board{
    max-width:640x;
    width:100%;
    margin:0 auto;
}
.btn{
    border-radius: 20px;
    border: 0.5px;
    background-color: aquamarine;
    margin:2%;
    float: right;
}

/* ---------------------------------- */


.content{
    max-width:640px;
    width:100%;
    margin:0 auto;
}
.title{
    font-size:32px;
    font-family: 'Noto Sans KR', Dotum, Arial, tahoma, Helvetica, sans-serif;
    margin:1%;
    padding-top:5%;
}