<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>니가 공부하는 그 스터디 | 그룹정보</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body>
<div class='setting_title'>
    <a href="private_board">
        <svg width="20" height="15" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54 54"
             style="enable-background:new 0 0 54 54;" xml:space="preserve">
                <g>
                    <path
                            d="M27,0C12.112,0,0,12.112,0,27s12.112,27,27,27s27-12.112,27-27S41.888,0,27,0z M27,52C13.215,52,2,40.785,2,27S13.215,2,27,2s25,11.215,25,25S40.785,52,27,52z" />
                    <path
                            d="M32.413,14.293c-0.391-0.391-1.023-0.391-1.414,0L19.501,25.791c-0.667,0.667-0.667,1.751,0,2.418l11.498,11.498C31.194,39.902,31.45,40,31.706,40s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L21.12,27l11.293-11.293C32.804,15.316,32.804,14.684,32.413,14.293z" />
                </g>
            </svg>
    </a>
    <p>그룹정보/설정</p>
</div>
<div class="setting_contents">
        <div class="setting_nickname">
            <p>그룹장:김철수</p>
        </div>

    <a href="group_reader_change">
        <div>
            <p>그룹장변경</p>
        </div>
    </a>
    <a href="group_name_change">
        <div>
            <p>그룹명변경</p>
        </div>
    </a>
    <a href="recruits_number_change">
        <div>
            <p>모집인원변경</p>
        </div>
    </a>
    <a href="groupmember_drop">
    <div>
        <p>그룹원 강퇴</p>
    </div>
    </a>
    <a href="group_blockuser">
        <div>
            <p>가입차단 사용자 관리</p>
        </div>
    </a>
</div>
<div th:insert="~{fragment/footer :: footer}"></div>
</body>

</html>