<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>니가 공부하는 그 스터디 | 닉네임 변경</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/nickname_change.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="  crossorigin="anonymous"></script>
</head>
<body>
    <div class='nickname_title'>
        <svg width="20" height="15" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54 54" style="enable-background:new 0 0 54 54;" xml:space="preserve">
            <g>
                <path d="M27,0C12.112,0,0,12.112,0,27s12.112,27,27,27s27-12.112,27-27S41.888,0,27,0z M27,52C13.215,52,2,40.785,2,27S13.215,2,27,2s25,11.215,25,25S40.785,52,27,52z"/>
                <path d="M32.413,14.293c-0.391-0.391-1.023-0.391-1.414,0L19.501,25.791c-0.667,0.667-0.667,1.751,0,2.418l11.498,11.498C31.194,39.902,31.45,40,31.706,40s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L21.12,27l11.293-11.293C32.804,15.316,32.804,14.684,32.413,14.293z"/>
            </g>
        </svg>
        <p>닉네임 변경</p>
    </div>
    <div class="nickname_box">
        <div class="nickname_contents">
            <p>새 닉네임</p>
            <input class="new_nickname" name="new_nickname" type="text" placeholder="변경하실 닉네임을 입력해주세요" />
            <!-- <div class="pw_err">닉네임 양식이 틀렸습니다.</div> -->
        </div>
        <div class="nickname_contents">
            <p>현재 닉네임</p>
            <input class="cur_nickname" name="current_nickname" type="text" placeholder="현재 닉네임" />
        </div>
    </div>
    <div class="nickname_button">
        <input type="submit" value="닉네임 변경" />
    </div>
    <div th:insert="~{fragment/footer :: footer}"></div>
</body>
</html>