<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>니가 공부하는 그 스터디 | 게시판</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/notice_board.css">

</head>
<body>
    <div class="notice_header">
        <div class="header_btn">
            <button class="class_btn">전체</button>
            <button class="class_btn">출석</button>
            <button class="class_btn">어학</button>
            <button class="class_btn">고시/공무원</button>
            <button class="class_btn">취업</button>
        </div>
        <div class="find">
            <select class="notice"></select>
            <input class="search">
            <!-- 돋보기 btn 추가하기 -->
        </div>
    </div>
    <div class="notice">

    </div>
    <div class="notice_footer">

    </div>
</body>