<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>니가 공부하는 그 스터디 | 설정</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body>
    <div class='setting_title'>
        <a href="index">
            <svg width="20" height="15" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54 54"
                style="enable-background:new 0 0 54 54;" xml:space="preserve">
                <g>
                    <path
                        d="M27,0C12.112,0,0,12.112,0,27s12.112,27,27,27s27-12.112,27-27S41.888,0,27,0z M27,52C13.215,52,2,40.785,2,27S13.215,2,27,2s25,11.215,25,25S40.785,52,27,52z" />
                    <path
                        d="M32.413,14.293c-0.391-0.391-1.023-0.391-1.414,0L19.501,25.791c-0.667,0.667-0.667,1.751,0,2.418l11.498,11.498C31.194,39.902,31.45,40,31.706,40s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L21.12,27l11.293-11.293C32.804,15.316,32.804,14.684,32.413,14.293z" />
                </g>
            </svg>
        </a>
        <p>설정</p>
    </div>
    <div class="setting_contents">
        <a href="nickname_change">
            <div class="setting_nickname">
                <p>닉네임 변경</p>
            </div>
        </a>
        <a href="password_change">
            <div>
                <p>비밀번호 변경</p>
            </div>
        </a>
        <a href="lock_setting">
            <div>
                <p>잠금설정</p>
            </div>
        </a>
        <a href="notice_setting">
            <div>
                <p>알림설정</p>
            </div>
        </a>
        <div>
            <p>다크모드</p>
        </div>
        <a href="stopwatch">
            <div>
                <p>스톱워치</p>
            </div>
        </a>
        <div>
            <p>인증 SMS 수정</p>
        </div>
    </div>
    <div class="setting_contents">
        <div>
            <p>이용약관</p>
        </div>
        <div>
            <p>개인정보 처리방침</p>
        </div>
        <div>  
            <button class="div_block" type="button" id="logout"><p>로그아웃</p></button>
            
        </div>
        <div>
            <button class="div_block" type="button" id="areyoureal">
                <P>회원탈퇴</P>
            </button>
        </div>
    </div>
    <div th:insert="~{fragment/footer :: footer}"></div>
    <script>
        $(document).ready(function () {
            $("#areyoureal").click(function () {
                var result = confirm("정말로 탈퇴를 진행하실건가요?");
                if (result) {
                    var result1 = confirm("마지막으로 확인합니다. 정말로 탈퇴하시겠습니까?")
                    if (result1) {
                        alert("탈퇴가 완료되었습니다. 지금까지 이용해주셔서 감사합니다.")
                        // db에서 회원정보 삭제하는거 여기에 입력
                        location.href = '/'
                    }
                }
                else { }
            });
        });
        $(document).ready(function () {
            $("#logout").click(function () {
                var result = confirm("로그아웃 하시겠습니까?");
                if (result) {
                        location.href = '/'
                }
                else { }
            });
        });
    </script>
</body>

</html>