<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/sign_up.css">
    <link rel="stylesheet" type="text/css" href="/css/agree.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script  src="https://code.jquery.com/jquery-3.6.1.min.js"  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="  crossorigin="anonymous"></script>
    <title>니가 공부하는 그 스터디 | 회원가입</title>
</head>

<body>
    <!-- <div id="agree">
        <form action="" id="joinForm">
            <ul class="join_box">
                <li class="checkBox check01">
                    <ul class="clearfix">
                        <li>이용약관, 개인정보 수집 및 이용,
                            위치정보 이용약관(선택), 프로모션 안내
                            메일 수신(선택)에 모두 동의합니다.</li>
                        <li class="checkAllBtn">
                            <input type="checkbox" name="cboxAll" id="cboxAll" class="chkAll" oncllick="checkall()">
                        </li>
                    </ul>
                </li>
                <li class="checkBox check02">
                    <ul class="clearfix">
                        <li>이용약관 동의(필수)</li>
                        <li class="checkBtn">
                            <input type="checkbox" name="cbox" id="checkbox1">
                        </li>
                    </ul>
                    <textarea name="" id="">여러분을 환영합니다. 네이버 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 네이버 서비스의 이용과 관련하여 네이버 서비스를 제공하는 네이버 주식회사(이하 ‘네이버’)와 이를 이용하는 네이버 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 네이버 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
       </textarea>
                </li>
                <li class="checkBox check03">
                    <ul class="clearfix">
                        <li>개인정보 수집 및 이용에 대한 안내(필수)</li>
                        <li class="checkBtn">
                            <input type="checkbox" name="cbox" id="checkbox2">
                        </li>
                    </ul>

                    <textarea name="" id="">여러분을 환영합니다. 네이버 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 네이버 서비스의 이용과 관련하여 네이버 서비스를 제공하는 네이버 주식회사(이하 ‘네이버’)와 이를 이용하는 네이버 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 네이버 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
       </textarea>
                </li>
                <li class="checkBox check03">
                    <ul class="clearfix">
                        <li>위치정보 이용약관 동의(선택)</li>
                        <li class="checkBtn">
                            <input type="checkbox" name="cbox" id="checkbox3">
                        </li>
                    </ul>

                    <textarea name="" id="">여러분을 환영합니다. 네이버 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 네이버 서비스의 이용과 관련하여 네이버 서비스를 제공하는 네이버 주식회사(이하 ‘네이버’)와 이를 이용하는 네이버 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 네이버 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
       </textarea>
                </li>
                <li class="checkBox check04">
                    <ul class="clearfix">
                        <li>이벤트 등 프로모션 알림 메일 수신(선택)</li>
                        <li class="checkBtn">
                            <input type="checkbox" name="cbox" id="checkbox4">
                        </li>
                    </ul>

                </li>
            </ul>
            <ul class="footBtwrap clearfix">
                <li><button class="fpmgBt1">비동의</button></li>
                <li><button class="fpmgBt2" id="agree_thing" onclidk="agree()">동의</button></li>
            </ul>
        </form>
    </div> -->
    <div id="wrap">
        <form action="sign_up" method="post" id="sign_up" onsubmit="return checkz()">
            <fieldset>
                <legend class="title">회원가입<span class="startitle">*:별표는 필수 입력정보입니다.</span></legend>
                <table class="table_box">
                    <tr>
                        <th class="frist"><label for="su_id">ID *</label></th>
                        <td><input type="text" id="su_id" name="su_id" class="textform"
                                placeholder="4~16자 이하 영어 대소문자 숫자 조합" required autofocus>
                            <button type="button" class="btn" onclick="idCheck()">ID중복확인</button>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="su_pw">비밀번호 *</label></th>
                        <td><input type="password" id="su_pw" name="su_pw" class="textform"
                                placeholder="8~14자 영어 대소문자 숫자 특수문자 중 2가지이상 조합" required></td>
                    </tr>
                    <tr>
                        <th><label for="su_pw_check">비밀번호 확인 *</label></th>
                        <td><input type="password" id="su_pw_check" class="textform" required><br>
                            <span id="su_pw_success" style="color:green">비밀번호가 일치합니다.</span>
                            <span id="no_su_pw_success" style="color:red">비밀번호가 일치하지 않습니다.</span>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="su_nick">별명 *</label></th>
                        <td><input type="text" id="su_nick" name="su_nick" class="textform" required>
                            <button type="button" onclick="nickCheck()" class="btn">별명중복확인</button>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="su_name">이름 *</label></th>
                        <td><input type="text" id="su_name" name="su_name" class="textform" required></td>
                    </tr>

                    <tr>
                        <th><label for="su_phone_number">휴대전화 *</label></th>
                        <td><select id="su_phone_number_first" class="callform" required>
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                                <option value="017">017</option>
                                <option value="018">018</option>
                                <option value="019">019</option>
                            </select>
                            <input type="text" id="su_phone_number_second" class="callform " maxlength="4" required>
                            <input type="text" id="su_phone_number_third" class="callform " maxlength="4" required>
                        </td>
                        <input type="hidden" name="su_phone_number" id="su_phone_number">
                    </tr>
                    <tr>
                        <th><label for="su_email">EMail *</label></th>
                        <td>
                            <input type="text" id="su_email" name="su_email" class="textform" required>
                            <button type="button" onclick="emailCheck()" class="btn">이메일 중복검사</button>
                        </td>
                    </tr>
                    <!-- <tr>
                        <th><label for="su_birth">생년월일</label></th>
                        <td><input type="date" id="su_birth" name="su_birth" class="textform"></td>
                    </tr> -->
                </table>
            </fieldset>
            <br>
            <div class="btn_area">
                <button type="reset">초기화하기</button>
                <input type="submit" class="btn_join" id="submit" value="회원가입">
            </div>
        </form>
    </div>
    <script>
        $('#agree_thing').click(function(){
            $("#wrap").show();
            $("#agree").hide();
        })

        function checkAll() {
            if ($("#cboxAll").is(':checked')) {
                $("input[name=cbox]").prop("checked", true);
            } else {
                $("input[name=cbox]").prop("checked", false);
            }
        }

        $(document).on("click", "input:checkbox[name=cbox]", function (e) {

            var chks = document.getElementsByName("cbox");
            var chksChecked = 0;

            for (var i = 0; i < chks.length; i++) {
                var cbox = chks[i];

                if (cbox.checked) {
                    chksChecked++;
                }
            }

            if (chks.length == chksChecked) {
                $("#cboxAll").prop("checked", true);
            } else {
                $("#cboxAll").prop("checked", false);
            }

        });

        var blank_pattern = /\s/;
        var getidCheck = RegExp(/^[a-zA-Z0-9]{4,16}$/);
        var getMail = RegExp(/^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/);
        var getCheck = RegExp(/^[a-zA-Z0-9~!@#$%^&*()_+|<>?:{}]{8,14}$/);
        var getName = RegExp(/^[가-힣]+$/);
        var getNick = RegExp(/^[가-힣a-zA-Z0-9]{2,16}$/);

        document.getElementById("sign_up").addEventListener("change", () => {
            document.getElementById("su_phone_number").value =
                document.getElementById("su_phone_number_first").value
                + document.getElementById("su_phone_number_second").value
                + document.getElementById("su_phone_number_third").value
        })

        function checkz() {
            var number = $("#su_pw").val().search(/[0-9]/g);
            var english = $("#su_pw").val().search(/[a-z]/ig);
            var spece = $("#su_pw").val().search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
            //아이디의 유효성 검사
            if (!getidCheck.test($("#su_id").val())) {
                alert("형식에 맞게 ID를 입력해주세요");
                $("#su_id").val("");
                $("#su_id").focus();
                return false;
            }

            //비밀번호
            if (!getCheck.test($("#su_pw").val())) {
                alert("형식에 맞춰서 PW를 입력해주세요");
                $("#su_pw").val("");
                $("#su_pw").focus();
                return false;
            } else if ((number < 0 && english < 0) || (english < 0 && spece < 0) || (spece < 0 && number < 0)) {
                alert("비밀번호 작성 시, 대소문자, 숫자, 특수기호 중 2가지 이상 입력하세요");
                return false;
            }

            //아이디랑 비밀번호랑 같은지
            if ($("#su_id").val() == ($("#su_pw").val())) {
                alert("비밀번호가 ID가 동일하면 안됩니다.");
                $("#su_pw").val("");
                $("#su_pw").focus();
            }

            //비밀번호 똑같은지
            if ($("#su_pw").val() != ($("#su_pw_check").val())) {
                alert("비밀번호 확인이 실패했습니다.");
                $("#su_pw").val("");
                $("#su_pw_check").val("");
                $("#su_pw").focus();
                return false;
            }

            //이메일 유효성 검사
            if (!getMail.test($("#su_email").val())) {
                alert("이메일 형식에 맞게 입력해주세요")
                $("#su_email").val("");
                $("#su_email").focus();
                return false;
            }

            //이름 유효성
            if (!getName.test($("#su_name").val())) {
                alert("이름을 형식에 맞춰 다시 쓰세요.");
                $("#su_name").val("");
                $("#su_name").focus();
                return false;
            }
        }
        $(function () {
            $("#su_pw_success").hide();
            $("#no_su_pw_success").hide();
            $("input").keyup(function () {
                var pwd1 = $("#su_pw").val();
                var pwd2 = $("#su_pw_check").val();
                if (pwd1 != "" || pwd2 != "") {
                    if (pwd1 == pwd2) {
                        $("#su_pw_success").show();
                        $("#no_su_pw_success").hide();
                        $("#submit").removeAttr("disabled");
                    } else {
                        $("#su_pw").hide();
                        $("#su_pw_check").show();
                        $("#submit").attr("disabled", "disabled");
                    }
                }
            });
        });
        $("#nowrite").hide();
        $("#idblank").hide();
        $("#idcheckfail").hide();

        function idCheck() {
            if ($('#su_id').val() == "") {
                alert("입력하시고 중복검사를 진행해주세요.")
            } else if (blank_pattern.test($('#su_id').val()) == true) {
                alert("id에 띄어쓰기를 입력하지 말아주세요.")
            } else {
                $.ajax("idOverlapCheck/?su_id=" + $("#su_id").val(), {
                    type: 'GET',
                    success: function (data, status, jqXHR) {
                        if (data === "SUCCESS") {
                            alert("사용 가능한 ID입니다.")
                            $("#submit").removeAttr("disabled");
                        } else if (data === "FAIL") {
                            alert("사용 불가능한 ID입니다.")
                            $("#submit").attr("disabled", "disabled");
                        }
                    }
                })
            }
        }

        function nickCheck() {
            if ($('#su_nick').val() == "") {
                alert("입력하시고 중복검사를 진행해주세요.")
            } else if (blank_pattern.test($('#su_nick').val()) == true) {
                alert("별명에 띄어쓰기를 입력하지 말아주세요.")
            } else {
                $.ajax("nickOverlapCheck/?su_nick=" + $("#su_nick").val(), {
                    type: 'GET',
                    success: function (data, status, jqXHR) {
                        if (data === "SUCCESS") {
                            alert("사용 가능한 별명입니다.")
                            $("#submit").removeAttr("disabled");
                        } else if (data === "FAIL") {
                            alert("사용 불가능한 별명입니다.")
                            $("#submit").attr("disabled", "disabled");
                        }
                    }
                })
            }
        }

        function emailCheck() {
            if ($('#su_email').val() == "") {
                alert("입력하시고 중복검사를 진행해주세요.")
            } else if (blank_pattern.test($('#su_email').val()) == true) {
                alert("별명에 띄어쓰기를 입력하지 말아주세요.")
            } else {
                $.ajax("emailOverlapCheck/?su_email=" + $("#su_email").val(), {
                    type: 'GET',
                    success: function (data, status, jqXHR) {
                        if (data === "SUCCESS") {
                            alert("사용 가능한 이메일입니다.")
                        } else if (data === "FAIL") {
                            alert("사용 불가능한 이메일입니다.")
                        }
                    }
                })
            }
        }
    </script>

</body>

</html>