<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 맵퍼의 위치를 적는 곳. -->
<mapper namespace="com.se.kmbss.mapper.BoardMapper">
        <sql id="BoardColumns">
                boardidn,
                suidn,
                boarduploaddate,
                boardmodifydate,
                boarddeletedate,
                boardcontent,
                boardlocationcity,
                boardlocationsigungu,
                boardname,
                boardcategory,
                viewcnt
        </sql>

        

        <insert id="upload" parameterType="com.se.kmbss.mapper.BoardRequest" useGeneratedKeys="false"> 
                INSERT INTO BOARD(
                        <include refid="BoardColumns" />
                )VALUES(
                        board_seq.nextval,
                        null,
                        sysdate,
                        null,
                        null,
                        #{boardcontent},
                        #{boardlocationcity},
                        #{boardlocationsigungu},
                        #{boardname},
                        #{boardcategory},
                        0
                )
        </insert>
        
        <update id="uploadviewcnt" parameterType="com.se.kmbss.mapper.BoardResponse">
                update board
                set
                        viewcnt=viewcnt+1
                where
                        boardidn=#{boardidn}
        </update>

        <select id="find_by_id" parameterType="int" resultType="com.se.kmbss.mapper.BoardResponse">
                select
                        *
                from
                        board
                where
                        boardidn=#{value}
        </select>

        <update id="modify" parameterType="com.se.kmbss.mapper.BoardRequest">
                update  board 
                set
                        boardmodifydate = sysdate,
                        boardname = #{boardname},
                        boardcontent = #{boardcontent},
                        boardlocationcity = #{boardlocationcity},
                        boardlocationsigungu = #{boardlocationsigungu}
                where
                        boardidn=#{boardidn}
        </update>

        <delete id="delete_by_id" parameterType="com.se.kmbss.mapper.BoardRequest">
                update board 
                set
                        boarddeletedate = sysdate
                where
                        boardidn=#{boardidn}
        </delete>

        <select id="find_all" parameterType="com.se.kmbss.mapper.BoardPaging" resultType="com.se.kmbss.mapper.BoardResponse">
                select *
                from(
                        select row_number() over(order by boarduploaddate desc) as num, <include refid="BoardColumns" />
                        from board
                        where boarddeletedate is null
                        <if test="keyWord != null">
                                and boardname LIKE '%' || #{keyWord} || '%'
                                and boardlocationcity = #{boardlocationcity}
                                and boardlocationsigungu = #{boardlocationsigungu}
                                and boardcategory = #{boardcategory}
                        </if>
                        order by boarduploaddate desc
                )
                WHERE num BETWEEN #{offset} AND #{offsetEnd}
                
        </select>


        <select id="count" resultType="int">
                SELECT
                        COUNT(*)
                FROM
                        board
                WHERE
                        boarddeletedate is null
        </select>
</mapper>
